<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <div>
          <li class="nav-item dropdown" *ngIf="!auth.getIsLogged()">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Accesso
            </a>
            <ul class="dropdown-menu" >
              <a routerLink="login" class="nav-link">Login</a>
              <a routerLink="register" class="nav-link">Registrati</a>

            </ul>
          </li>
          <li>
            <a class="nav-link" *ngIf="auth.getIsLogged()">
              {{ auth.userLogged?.username }}
            </a>
          </li>

        </div>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning mx-3" type="submit">Search</button>
      </form>
        <div class="dropdown myUserMenu" *ngIf="auth.getIsLogged()">
          <p-avatar icon="pi pi-user" size="xsmall" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></p-avatar>
          <ul class="dropdown-menu">
            <li><span style="color: grey;" class="dropdown-item" aria-disabled="true">{{ auth.userLogged!.username }}</span></li>

               <li class="dropdown-item"  *ngIf="auth.userLogged?.teamId != null" style="cursor: pointer;" routerLink="team">
                {{ auth.userLogged?.teamName }}
               </li>
               <li *ngIf="auth.userLogged?.teamId == null" class="dropdown-item" style="cursor: pointer;">
                  Crea Team
               </li>

            <li><a class="dropdown-item" routerLink="profile">Profilo</a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </div>
















    </div>
  </div>
</nav>
